# ====== SFTPGo configuration ======= 
SFTPGO_API_USERNAME=lahatra31
SFTPGO_API_PASSWORD=lahatrad
SFTPGO_API_BASE_URL=http://localhost:3180/api/v2

# ====== Mofogasy configuration =====
SERVER_HOST=0.0.0.0
SERVER_PORT=3000
